# Docker
.env
.docker/
docker-compose.override.yml
/dist
docker-build.log
/build
/.vscode/container-includes
/debug_frames
.DS_Store
/cache
todo.md/build-rel
/build-win
/build-win-dev
/build-win-static
/build-win-static-dev
